flow.json
[
    {
        "id": "5ab672823d632b5b",
        "type": "tab",
        "label": "Trader Callum 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "dd598361c9bd1a82",
        "type": "junction",
        "z": "5ab672823d632b5b",
        "x": 720,
        "y": 1100,
        "wires": [
            [
                "2eb9ae18a7597898",
                "cc82956b3af1798d"
            ]
        ]
    },
    {
        "id": "dca50cadc1492f98",
        "type": "junction",
        "z": "5ab672823d632b5b",
        "x": 720,
        "y": 920,
        "wires": [
            [
                "139fd080616b484b",
                "4a5c99cb09076140"
            ]
        ]
    },
    {
        "id": "edc1461ea57cc2e0",
        "type": "junction",
        "z": "5ab672823d632b5b",
        "x": 660,
        "y": 1480,
        "wires": [
            [
                "d2b09690674d219d",
                "a8a8c0eb026a2af0"
            ]
        ]
    },
    {
        "id": "0cbdb304210c8469",
        "type": "ui_base",
        "theme": {
            "name": "theme-custom",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#7b8de5",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "reset": false
            },
            "themeState": {
                "base-color": {
                    "default": "#4B7930",
                    "value": "#7b8de5",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#7b8de5",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#e6e6e6",
                    "edited": true
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#474847",
                    "edited": true
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#c9c9c9",
                    "edited": true
                },
                "widget-textColor": {
                    "value": "#000000",
                    "edited": true
                },
                "widget-backgroundColor": {
                    "value": "#3b4b9b",
                    "edited": true
                },
                "widget-borderColor": {
                    "value": "#efebbe",
                    "edited": true
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "true",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 43,
                "sy": 43,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "69c2f669240f1763",
        "type": "ui_tab",
        "name": "Entries",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a5e5760a4c6ba88d",
        "type": "ui_group",
        "name": "Entries",
        "tab": "69c2f669240f1763",
        "order": 1,
        "disp": false,
        "width": 8,
        "collapse": false
    },
    {
        "id": "9fb486fd2c3c7daf",
        "type": "mqtt-broker",
        "name": "trader Callum",
        "broker": "cloud.trumeter.com",
        "port": "1884",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "08b6f600530e1c2c",
        "type": "mqtt-broker",
        "name": "Javi Trader",
        "broker": "188.166.144.173",
        "port": "1444",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8ceae58591f7143d",
        "type": "mqtt in",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "v1/devices/me/rpc/request/+",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "08b6f600530e1c2c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 240,
        "y": 1020,
        "wires": [
            [
                "abec42dee0ae50f1",
                "b2feee3cca54d637",
                "eabe8ba80be4ca71"
            ]
        ]
    },
    {
        "id": "eabe8ba80be4ca71",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeExec",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1140,
        "wires": []
    },
    {
        "id": "abec42dee0ae50f1",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tradePrep",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tradeExec",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "closeTrades",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noLuck",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 490,
        "y": 1020,
        "wires": [
            [
                "dca50cadc1492f98"
            ],
            [
                "dd598361c9bd1a82"
            ],
            [],
            [
                "edc1461ea57cc2e0"
            ]
        ]
    },
    {
        "id": "908354dc01aef5d9",
        "type": "exec",
        "z": "5ab672823d632b5b",
        "command": "py C:\\Pscripts\\tradeSetup.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TradeSetup",
        "x": 1050,
        "y": 920,
        "wires": [
            [
                "0f0a40f38c4d9347"
            ],
            [
                "6e842d48f3d2ba2a"
            ],
            [
                "6e842d48f3d2ba2a"
            ]
        ]
    },
    {
        "id": "5d74476c999e2d2a",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Ready OUT",
        "mode": "link",
        "links": [
            "e9be8c2a8ce47940"
        ],
        "x": 1345,
        "y": 900,
        "wires": []
    },
    {
        "id": "248bec22e8934756",
        "type": "file",
        "z": "5ab672823d632b5b",
        "name": "LOGS",
        "filename": "C:\\Pscripts\\log.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1670,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "64cad988d97a7890",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "LOGS IN",
        "links": [
            "99b80242b4165746",
            "ef357324e5c2c475",
            "68cdd525878ed94a",
            "e9b4673771672b69",
            "d705c18781fea72a",
            "dad83a6346ab14a2",
            "5dbd6faccf9c607a"
        ],
        "x": 1365,
        "y": 100,
        "wires": [
            [
                "2f7d9686f021efa7"
            ]
        ]
    },
    {
        "id": "2f7d9686f021efa7",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Date IN",
        "func": "var date = new Date().toUTCString();\n// var fdate = date.getDate();\n// var formated = date.toString()\nmsg.payload = date + \": \" + msg.payload; \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1500,
        "y": 100,
        "wires": [
            [
                "248bec22e8934756",
                "524e40402538cb7e"
            ]
        ]
    },
    {
        "id": "790035275a01eaaa",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Leverage Fail Safe",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 10,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "leverage",
        "x": 1170,
        "y": 460,
        "wires": [
            [
                "93baa0abfee23965"
            ]
        ]
    },
    {
        "id": "ae76a3f6b08ee034",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Trade Size Fail Safe",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 4,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "tradeSize",
        "x": 1160,
        "y": 500,
        "wires": [
            [
                "93baa0abfee23965"
            ]
        ]
    },
    {
        "id": "c09078f5ed9b9ead",
        "type": "ui_text",
        "z": "5ab672823d632b5b",
        "group": "a5e5760a4c6ba88d",
        "order": 9,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Leverage",
        "format": "{{msg.payload.params.leverage}}",
        "layout": "col-center",
        "x": 1200,
        "y": 280,
        "wires": []
    },
    {
        "id": "eb58bddec6a5472c",
        "type": "ui_button",
        "z": "5ab672823d632b5b",
        "name": "DONE",
        "group": "a5e5760a4c6ba88d",
        "order": 14,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "DONE",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-thumbs-up fa-3x",
        "payload": "done",
        "payloadType": "str",
        "topic": "topic",
        "x": 1190,
        "y": 680,
        "wires": [
            [
                "90342d446bdca011",
                "7a04713f62ab5212"
            ]
        ]
    },
    {
        "id": "0cbc541f25e5bb4f",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 460,
        "wires": []
    },
    {
        "id": "93baa0abfee23965",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "entries",
        "func": "var entries = global.get('entries') || {};\n\nentries[msg.topic] = msg.payload;\nglobal.set('entries', entries)\n\nmsg.payload = msg.topic+ \" Fail Safe: \" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 500,
        "wires": [
            [
                "0cbc541f25e5bb4f",
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "99b80242b4165746",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Fail Safes OUT",
        "mode": "link",
        "links": [
            "64cad988d97a7890",
            "dabcdd1e7db0a782"
        ],
        "x": 1545,
        "y": 580,
        "wires": []
    },
    {
        "id": "80c7ae9332d380f7",
        "type": "ui_button",
        "z": "5ab672823d632b5b",
        "name": "",
        "group": "a5e5760a4c6ba88d",
        "order": 13,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "READY",
        "tooltip": "",
        "color": "",
        "bgcolor": "orange",
        "icon": "fa-thumbs-up fa-3x",
        "payload": "ready",
        "payloadType": "str",
        "topic": "topic",
        "x": 1180,
        "y": 640,
        "wires": [
            [
                "fda8776d590cefb4",
                "a14cb30bb25bb082"
            ]
        ]
    },
    {
        "id": "fda8776d590cefb4",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Ready",
        "func": "var ready=msg.payload;\n\nvar entries=global.get('entries') || {};\n\n\nentries.ready = true;\nglobal.set('entries', entries)\n\nmsg.payload = \"Ready Button pressed\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 640,
        "wires": [
            [
                "11784a52719a9d46",
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "11784a52719a9d46",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 640,
        "wires": []
    },
    {
        "id": "a14cb30bb25bb082",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Ready OUT",
        "mode": "link",
        "links": [
            "025eebc3f14e67a9",
            "e9be8c2a8ce47940"
        ],
        "x": 1295,
        "y": 660,
        "wires": []
    },
    {
        "id": "1ea6afeac97e2c1e",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Total",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 1,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "total",
        "x": 1210,
        "y": 580,
        "wires": [
            [
                "e9d9a5d630de22c0"
            ]
        ]
    },
    {
        "id": "90342d446bdca011",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "d04746edd54e31f2",
            "b45cf2edf31114e2",
            "9abc4cbd61b2e2fc"
        ],
        "x": 1295,
        "y": 700,
        "wires": []
    },
    {
        "id": "4a5c99cb09076140",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "Ready timeout",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "80",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "ready",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 880,
        "y": 980,
        "wires": [
            [
                "8d40e01516cf535a"
            ]
        ]
    },
    {
        "id": "2c47a0815598d9fe",
        "type": "exec",
        "z": "5ab672823d632b5b",
        "command": "py C:\\Pscripts\\clickTradeButtons.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "TradeButtons",
        "x": 1180,
        "y": 1100,
        "wires": [
            [
                "eadca5f0e15f9331"
            ],
            [],
            []
        ]
    },
    {
        "id": "cc82956b3af1798d",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "Done timeout",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "done",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 850,
        "y": 1160,
        "wires": [
            [
                "67bd5b0d93f7c6f4"
            ]
        ]
    },
    {
        "id": "8d40e01516cf535a",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "function 20",
        "func": "var ready=msg.payload;\n\nvar entries=global.get('entries') || {};\n\n\nentries.ready = false;\nglobal.set('entries', entries)\n\nmsg.payload = \"Ready to trade\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1090,
        "y": 980,
        "wires": [
            [
                "601cde10f9d81185"
            ]
        ]
    },
    {
        "id": "025eebc3f14e67a9",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "Reset timeout setup",
        "links": [
            "a14cb30bb25bb082"
        ],
        "x": 765,
        "y": 1020,
        "wires": [
            [
                "4a5c99cb09076140"
            ]
        ]
    },
    {
        "id": "b45cf2edf31114e2",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "Reset timeout done",
        "links": [
            "90342d446bdca011",
            "49154683332fc80a"
        ],
        "x": 745,
        "y": 1200,
        "wires": [
            [
                "cc82956b3af1798d"
            ]
        ]
    },
    {
        "id": "67bd5b0d93f7c6f4",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradeDone timeout OUT",
        "mode": "link",
        "links": [
            "dd9efdff545979f3"
        ],
        "x": 1155,
        "y": 1160,
        "wires": []
    },
    {
        "id": "e72c25a366934084",
        "type": "ui_text",
        "z": "5ab672823d632b5b",
        "group": "a5e5760a4c6ba88d",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Trade size",
        "format": "{{msg.payload.params.tradeSize}}",
        "layout": "col-center",
        "x": 1190,
        "y": 240,
        "wires": []
    },
    {
        "id": "dc43f9b7467070e0",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "Prep IN",
        "links": [
            "aae1eea1dd13d1ba"
        ],
        "x": 1005,
        "y": 260,
        "wires": [
            [
                "e72c25a366934084",
                "c09078f5ed9b9ead",
                "e73ade4ef838fd3c",
                "05c6f41fe8152342"
            ]
        ]
    },
    {
        "id": "eb363e4eaca5da3b",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Total P&L",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "mode": "text",
        "delay": 300,
        "topic": "p&l",
        "x": 1200,
        "y": 540,
        "wires": [
            [
                "cb8d15cb8b64fe85"
            ]
        ]
    },
    {
        "id": "e9d9a5d630de22c0",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Total",
        "func": "var entries = global.get('entries') || {};\n\nvar thousand = msg.payload.split(' ')[0];\nvar rest = msg.payload.split(' ')[1];\nvar capital = thousand + rest;\nentries.total = parseFloat(capital);\n\nglobal.set('entries',entries);\nreturn msg;\n// var msg1 = {};\n// var date = new Date().toUTCString();\n// msg1.payload = date + \": capital=\" + capital + \", tradesize=\" + tradeSize + \", take profit:\" + msg1.payload + \" - \" + trade;\n// return [msg, msg1];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 580,
        "wires": [
            [
                "c5170913b3650785",
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "c5170913b3650785",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 58",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1640,
        "y": 600,
        "wires": []
    },
    {
        "id": "caa7db65dcad3249",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "function 21",
        "func": "\nfor (var params in msg.payload.params){\n    \n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0a40f38c4d9347",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "ready",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "ready",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1250,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "eadca5f0e15f9331",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "ready",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "done",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1350,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "0280b9cef50a3cc4",
        "type": "mqtt in",
        "z": "5ab672823d632b5b",
        "name": "RPC replies",
        "topic": "v1/devices/me/rpc/response/+",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "08b6f600530e1c2c",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 230,
        "y": 680,
        "wires": [
            [
                "2146d3d66251ddf6",
                "bbee150ea9a867d6"
            ]
        ]
    },
    {
        "id": "2146d3d66251ddf6",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "method?",
        "property": "payload.method",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "tradeReady",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "tradeDone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "closeTradesDone",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "noLuckDone",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 420,
        "y": 680,
        "wires": [
            [
                "21cda632a03406f1"
            ],
            [
                "e4e8d1895d99f6f3"
            ],
            [
                "74ed9baa5a760d05"
            ],
            [
                "337149465195f525"
            ]
        ]
    },
    {
        "id": "21cda632a03406f1",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "tradePrep",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Trade Ready sent and received",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 660,
        "wires": [
            [
                "ef357324e5c2c475"
            ]
        ]
    },
    {
        "id": "e4e8d1895d99f6f3",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "tradeDone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Trade Done sent and received",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 700,
        "wires": [
            [
                "ef357324e5c2c475"
            ]
        ]
    },
    {
        "id": "ef357324e5c2c475",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "responses",
        "mode": "link",
        "links": [
            "64cad988d97a7890"
        ],
        "x": 755,
        "y": 680,
        "wires": []
    },
    {
        "id": "524e40402538cb7e",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "trader logs",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1690,
        "y": 60,
        "wires": []
    },
    {
        "id": "e03146be0e816719",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Trade",
        "func": "if (msg.payload.params.check==true){\n    msg.payload = \"-t \"+msg.payload.params.trade;\n    return [msg,null];\n}else{\n    msg.payload=\"failed\";\n    msg.errors=msg.payload.params;\n    return [null,msg];\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 1100,
        "wires": [
            [
                "2c47a0815598d9fe",
                "a77948c793389bcd",
                "93f62b86334a5580"
            ],
            [
                "67bd5b0d93f7c6f4",
                "93f62b86334a5580"
            ]
        ]
    },
    {
        "id": "9abc4cbd61b2e2fc",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "link in 1",
        "links": [
            "a77948c793389bcd",
            "9a5bf7dd160745f6",
            "1f902fb9af43884f",
            "90342d446bdca011"
        ],
        "x": 805,
        "y": 500,
        "wires": [
            [
                "4504eeee9780438c"
            ]
        ]
    },
    {
        "id": "4504eeee9780438c",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 500,
        "wires": [
            [
                "790035275a01eaaa",
                "ae76a3f6b08ee034",
                "580f3ae83c5eeb8c",
                "eb363e4eaca5da3b",
                "c2c1c1895b1289ae",
                "c1f6822f355735c5"
            ]
        ]
    },
    {
        "id": "156992607052a321",
        "type": "inject",
        "z": "5ab672823d632b5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 820,
        "y": 440,
        "wires": [
            [
                "4504eeee9780438c"
            ]
        ]
    },
    {
        "id": "2eb9ae18a7597898",
        "type": "delay",
        "z": "5ab672823d632b5b",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 1100,
        "wires": [
            [
                "e03146be0e816719"
            ]
        ]
    },
    {
        "id": "bbee150ea9a867d6",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 820,
        "wires": []
    },
    {
        "id": "139fd080616b484b",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "payl",
        "duration": "10",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 870,
        "y": 920,
        "wires": [
            [
                "908354dc01aef5d9",
                "aae1eea1dd13d1ba"
            ]
        ]
    },
    {
        "id": "e5f258fd9d59ce24",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "tradeClose timeout",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "closed",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 990,
        "y": 1380,
        "wires": [
            [
                "ddabcef3c3dd9b26"
            ]
        ]
    },
    {
        "id": "db74e069f8143fec",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "Reset closetrades timeout ",
        "links": [
            "9a5bf7dd160745f6",
            "9e7229dcfc59d96d"
        ],
        "x": 805,
        "y": 1380,
        "wires": [
            [
                "e5f258fd9d59ce24"
            ]
        ]
    },
    {
        "id": "ddabcef3c3dd9b26",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "3a75c70408bfc4f2"
        ],
        "x": 1175,
        "y": 1380,
        "wires": []
    },
    {
        "id": "5bd2109885ff0733",
        "type": "exec",
        "z": "5ab672823d632b5b",
        "command": "py C:\\Pscripts\\closeTrades.py",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "closeTrades",
        "x": 990,
        "y": 1300,
        "wires": [
            [
                "dbc2d951577349fc"
            ],
            [],
            []
        ]
    },
    {
        "id": "aae1eea1dd13d1ba",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradePrep OUT",
        "mode": "link",
        "links": [
            "dc43f9b7467070e0",
            "c6917b59bba29b14",
            "550c26343b2f2ff6"
        ],
        "x": 1005,
        "y": 860,
        "wires": []
    },
    {
        "id": "a77948c793389bcd",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "link out 1",
        "mode": "link",
        "links": [
            "9abc4cbd61b2e2fc"
        ],
        "x": 1115,
        "y": 1060,
        "wires": []
    },
    {
        "id": "601cde10f9d81185",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradePrep timeout OUT",
        "mode": "link",
        "links": [
            "07e4d6b237df6241"
        ],
        "x": 1255,
        "y": 980,
        "wires": []
    },
    {
        "id": "6be4b62df67306ce",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "d04746edd54e31f2"
        ],
        "x": 1475,
        "y": 1080,
        "wires": []
    },
    {
        "id": "e9be8c2a8ce47940",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "links": [
            "a14cb30bb25bb082",
            "41d05fa534877d8d",
            "09aef469e908ad27",
            "5d74476c999e2d2a"
        ],
        "x": 105,
        "y": 1740,
        "wires": [
            [
                "a561fdda80bb2076"
            ]
        ]
    },
    {
        "id": "a561fdda80bb2076",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "func": "var entries = global.get('entries') || {};\nvar requestId = global.get('requestId') || 0;\n\nvar input = msg.payload;\n\nmsg.payload={};\nmsg.payload.method=\"tradeReady\";\nmsg.payload.params={};\nif (input !=\"timeout\"){\n    msg.payload.params.tradeSize = entries.tradeSize;\n    msg.payload.params.leverage = entries.leverage;\n    msg.payload.params.total = entries.total;\n    msg.payload.params.plTotal = entries.plTotal;\n    msg.payload.params.ready = true;\n    msg.payload.params.timeout = false;\n}else {\n    msg.payload.params.ready = false;\n    msg.payload.params.timeout=true;\n}\n\n\nrequestId++;\n\nglobal.set('requestId',requestId);\n\nmsg.topic = \"v1/devices/me/rpc/request/\"+requestId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 415,
        "y": 1740,
        "wires": [
            [
                "7e994382f75126ea",
                "32f49eb5eb8f8a30",
                "ac91f14917da559d"
            ]
        ]
    },
    {
        "id": "07e4d6b237df6241",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "tradePrep timeout IN",
        "links": [
            "601cde10f9d81185"
        ],
        "x": 255,
        "y": 1800,
        "wires": [
            [
                "a561fdda80bb2076"
            ]
        ]
    },
    {
        "id": "7e994382f75126ea",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 586.25,
        "y": 1740,
        "wires": []
    },
    {
        "id": "32f49eb5eb8f8a30",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 615,
        "y": 1800,
        "wires": []
    },
    {
        "id": "15e75058ca01d152",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "closeTradesDone",
        "links": [
            "9a5bf7dd160745f6",
            "c6522d6c1de92dbe"
        ],
        "x": 101.25,
        "y": 1960,
        "wires": [
            [
                "1b9c854da8e261a3"
            ]
        ]
    },
    {
        "id": "1b9c854da8e261a3",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "closeTradesDone",
        "func": "var entries = global.get('entries') || {};\nvar requestId = global.get('requestId') || 0;\n\nvar input=msg.payload;\n\nmsg.payload={};\nmsg.payload.method=\"closeTradesDone\";\nmsg.payload.params = {};\nif (input!=\"timeout\"){\n    if (entries.closedTrades != \"fail\") {\n        if (entries.noLuck == \"check\") {\n            msg.payload.params.noLuckCheck = false;\n            entries.noLuck = \"ok\";\n        }\n        else msg.payload.params.noLuckCheck=true;\n        msg.payload.params.closed = true;\n        \n    }\n    else {\n        entries.excessTrades=entries.excessTrades+1; \n        msg.payload=\"closed\";\n        global.set('entries', entries);\n        return [null, msg];\n    }\n    // else msg.payload.params.closed = false;\n\n    msg.payload.params.timeout = false;\n    msg.payload.params.excessTrades = entries.excessTrades;\n}\nelse {\n    msg.payload.params.closed = false;\n    msg.payload.params.timeout = true;\n    msg.payload.params.excessTrades = entries.excessTrades;\n}\n\n\nrequestId++;\n// entries.closedTrades=\"ready\";\nglobal.set('requestId', requestId);\nglobal.set('entries', entries);\n\nmsg.topic = \"v1/devices/me/rpc/request/\"+requestId;\nreturn msg;",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 416.25,
        "y": 1960,
        "wires": [
            [
                "2d1c79ce58c37a06",
                "c0fadaee0db9f610",
                "b1b673d161e4868b"
            ],
            [
                "e2cdcd02011de9bc",
                "9e7229dcfc59d96d"
            ]
        ]
    },
    {
        "id": "3a75c70408bfc4f2",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "closeTrades timeout IN",
        "links": [
            "ddabcef3c3dd9b26"
        ],
        "x": 291.25,
        "y": 2020,
        "wires": [
            [
                "1b9c854da8e261a3"
            ]
        ]
    },
    {
        "id": "2d1c79ce58c37a06",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 690,
        "y": 1980,
        "wires": []
    },
    {
        "id": "d04746edd54e31f2",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "tradeDone",
        "links": [
            "90342d446bdca011",
            "6be4b62df67306ce",
            "49154683332fc80a"
        ],
        "x": 1065,
        "y": 1720,
        "wires": [
            [
                "3952ffa4a4a3f194"
            ]
        ]
    },
    {
        "id": "3952ffa4a4a3f194",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "tradeDone",
        "func": "var requestId = global.get('requestId') || 0;\n\nvar input=msg.payload;\n\n\nmsg.payload={};\nmsg.payload.method=\"tradeDone\";\nmsg.payload.params={};\nif (input!= \"timeout\") {\n    msg.payload.params.done = true;\n    msg.payload.params.timeout = false;\n}\nelse{\n    msg.payload.params.done = false;\n    msg.payload.params.timeout = true; \n}\nrequestId++;\n\nglobal.set('requestId', requestId);\nmsg.topic = \"v1/devices/me/rpc/request/\"+requestId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1250,
        "y": 1720,
        "wires": [
            [
                "73c6bb9ac09d65bb",
                "4cb4f359ceb0a019"
            ]
        ]
    },
    {
        "id": "dd9efdff545979f3",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "tradeDone timeout IN",
        "links": [
            "67bd5b0d93f7c6f4"
        ],
        "x": 1135,
        "y": 1780,
        "wires": [
            [
                "3952ffa4a4a3f194"
            ]
        ]
    },
    {
        "id": "73c6bb9ac09d65bb",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 1430,
        "y": 1720,
        "wires": []
    },
    {
        "id": "4cb4f359ceb0a019",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "trade done",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Trade done ready to send",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1430,
        "y": 1780,
        "wires": [
            [
                "68cdd525878ed94a"
            ]
        ]
    },
    {
        "id": "8be53e080da663d9",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Response",
        "func": "var PrepRequestId = global.get('PrepRequestId');\nvar prepParams = global.get('prepParams');\n\nmsg.payload = prepParams;\n\nmsg.topic = \"v1/devices/me/rpc/response/\" + PrepRequestId;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 2260,
        "wires": [
            [
                "49a1cc7bc65d82fd"
            ]
        ]
    },
    {
        "id": "68cdd525878ed94a",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradeDone OUT",
        "mode": "link",
        "links": [
            "64cad988d97a7890"
        ],
        "x": 1545,
        "y": 1780,
        "wires": []
    },
    {
        "id": "49a1cc7bc65d82fd",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 450,
        "y": 2260,
        "wires": []
    },
    {
        "id": "67d36bd0c1662f56",
        "type": "ui_button",
        "z": "5ab672823d632b5b",
        "name": "CLOSED",
        "group": "a5e5760a4c6ba88d",
        "order": 16,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "CLOSED",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-thumbs-up fa-3x",
        "payload": "closed",
        "payloadType": "str",
        "topic": "topic",
        "x": 1180,
        "y": 720,
        "wires": [
            [
                "9a5bf7dd160745f6",
                "131bedaa6ef42953",
                "3aad54bca0f728d0"
            ]
        ]
    },
    {
        "id": "9a5bf7dd160745f6",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "15e75058ca01d152",
            "db74e069f8143fec",
            "9abc4cbd61b2e2fc"
        ],
        "x": 1285,
        "y": 740,
        "wires": []
    },
    {
        "id": "dbc2d951577349fc",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "closed",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "closed",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1190,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "c6522d6c1de92dbe",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "15e75058ca01d152"
        ],
        "x": 1315,
        "y": 1300,
        "wires": []
    },
    {
        "id": "7a04713f62ab5212",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Done",
        "func": "var ready=msg.payload;\n\nvar entries=global.get('entries') || {};\n\n\nentries.done = true;\nglobal.set('entries', entries)\n\nmsg.payload = \"trade Done Button pressed\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 680,
        "wires": [
            [
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "131bedaa6ef42953",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Closed",
        "func": "var ready=msg.payload;\n\nvar entries=global.get('entries') || {};\n\n\nentries.done = true;\nglobal.set('entries', entries)\n\nmsg.payload = \"trades Closed button pressed\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 720,
        "wires": [
            [
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "ac91f14917da559d",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "trade done",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Trade Ready is ready to send",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 606.25,
        "y": 1700,
        "wires": [
            [
                "e9b4673771672b69"
            ]
        ]
    },
    {
        "id": "e9b4673771672b69",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradeDone OUT",
        "mode": "link",
        "links": [
            "64cad988d97a7890"
        ],
        "x": 721.25,
        "y": 1700,
        "wires": []
    },
    {
        "id": "c0fadaee0db9f610",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "closeTrade done",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Trade Ready is ready to send",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 666.25,
        "y": 1920,
        "wires": [
            [
                "d705c18781fea72a"
            ]
        ]
    },
    {
        "id": "d705c18781fea72a",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradeDone OUT",
        "mode": "link",
        "links": [
            "64cad988d97a7890"
        ],
        "x": 831.25,
        "y": 1920,
        "wires": []
    },
    {
        "id": "b2feee3cca54d637",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "reply",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 510,
        "y": 940,
        "wires": []
    },
    {
        "id": "c1665a6df808fd75",
        "type": "inject",
        "z": "5ab672823d632b5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-c 3",
        "payloadType": "str",
        "x": 810,
        "y": 1260,
        "wires": [
            [
                "5bd2109885ff0733"
            ]
        ]
    },
    {
        "id": "191b06cb89a35059",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Trade",
        "func": "var entries=global.get('entries')||{};\n\nvar nTrades=msg.payload.params.nTrades;\n\nmsg.payload = \"-c \"+nTrades;\nmsg.delay = (30 + parseInt(nTrades)*3)*1000;\nentries.excessTrades = 0;\nentries.closedTrades=\"ON\";\nglobal.set('entries', entries);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 1300,
        "wires": [
            [
                "5bd2109885ff0733",
                "e5f258fd9d59ce24",
                "ad9efae8b3c50215"
            ]
        ]
    },
    {
        "id": "9176d35d98b72145",
        "type": "config",
        "z": "5ab672823d632b5b",
        "name": "",
        "properties": [
            {
                "p": "entries",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": true,
        "x": 330,
        "y": 100,
        "wires": []
    },
    {
        "id": "8d220a29a97458ac",
        "type": "ui_button",
        "z": "5ab672823d632b5b",
        "name": "OPENED",
        "group": "a5e5760a4c6ba88d",
        "order": 15,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "Open Trades",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "icon": "fa-thumbs-up fa-3x",
        "payload": "opened",
        "payloadType": "str",
        "topic": "topic",
        "x": 1180,
        "y": 780,
        "wires": [
            [
                "1f902fb9af43884f",
                "9f2e3dbd1a17bc53",
                "b4c9069572da1ef7"
            ]
        ]
    },
    {
        "id": "1f902fb9af43884f",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "d462b9febab60de6",
            "b4465f65b3ef2234",
            "9abc4cbd61b2e2fc"
        ],
        "x": 1295,
        "y": 820,
        "wires": []
    },
    {
        "id": "9f2e3dbd1a17bc53",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "opened",
        "func": "var ready=msg.payload;\n\nvar entries=global.get('entries') || {};\n\n\nentries.done = true;\nglobal.set('entries', entries)\n\nmsg.payload = \"trades opened button pressed\";\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1420,
        "y": 780,
        "wires": [
            [
                "99b80242b4165746"
            ]
        ]
    },
    {
        "id": "93f62b86334a5580",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1180,
        "wires": []
    },
    {
        "id": "580f3ae83c5eeb8c",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "d": true,
        "name": "",
        "label": "Close Trades Fail Safe",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 17,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "closedTrades",
        "x": 1160,
        "y": 340,
        "wires": [
            [
                "d25a94e1be6c3423"
            ]
        ]
    },
    {
        "id": "74ed9baa5a760d05",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "closeTrades",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Closing all trades",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 740,
        "wires": [
            [
                "ef357324e5c2c475"
            ]
        ]
    },
    {
        "id": "d462b9febab60de6",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "noLuckDone",
        "links": [
            "1f902fb9af43884f",
            "74d3362485db5025",
            "47cd4498f440c7da"
        ],
        "x": 1035,
        "y": 1940,
        "wires": [
            [
                "fef8b1d98c4a4f63"
            ]
        ]
    },
    {
        "id": "fef8b1d98c4a4f63",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "noLuckDone",
        "func": "var entries = global.get('entries') || {};\nvar requestId = global.get('requestId') || 0;\n\nvar input=msg.payload;\n\nmsg.payload={};\nmsg.payload.method=\"noLuckDone\";\nmsg.payload.params = {};\nif (input!=\"timeout\"){\n    if (input==\"closedTrades\")msg.payload.params.closedTrades==true;\n\n    msg.payload.params.plTotal = entries.plTotal;\n    msg.payload.params.timeout=false;\n}\nelse {\n    msg.payload.params.plTotal = false;\n    msg.payload.params.timeout = true;\n}\n\n\nrequestId++;\n\nglobal.set('requestId',requestId);\n\nmsg.topic = \"v1/devices/me/rpc/request/\"+requestId;\nif (msg.payload.params.plTotal!=undefined) return msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1260,
        "y": 1940,
        "wires": [
            [
                "05f8b5ca25134a29",
                "459817688f226b92",
                "966532c657e8ba5a"
            ]
        ]
    },
    {
        "id": "ee605e83ef6b8684",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "closeTrades timeout IN",
        "links": [
            "0a35b29bb12ed687"
        ],
        "x": 1155,
        "y": 2000,
        "wires": [
            [
                "fef8b1d98c4a4f63"
            ]
        ]
    },
    {
        "id": "05f8b5ca25134a29",
        "type": "mqtt out",
        "z": "5ab672823d632b5b",
        "name": "",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "08b6f600530e1c2c",
        "x": 1490,
        "y": 1940,
        "wires": []
    },
    {
        "id": "459817688f226b92",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1470,
        "y": 2040,
        "wires": []
    },
    {
        "id": "966532c657e8ba5a",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "noLuck done",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "PL total ready to send",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1510,
        "y": 1900,
        "wires": [
            [
                "5dbd6faccf9c607a"
            ]
        ]
    },
    {
        "id": "5dbd6faccf9c607a",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "tradeDone OUT",
        "mode": "link",
        "links": [
            "64cad988d97a7890"
        ],
        "x": 1695,
        "y": 1900,
        "wires": []
    },
    {
        "id": "a8a8c0eb026a2af0",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "openTrades timeout",
        "op1": "",
        "op2": "timeout",
        "op1type": "nul",
        "op2type": "str",
        "duration": "20",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "opened",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 980,
        "y": 1540,
        "wires": [
            [
                "0a35b29bb12ed687",
                "6e5473da1f801293"
            ]
        ]
    },
    {
        "id": "b4465f65b3ef2234",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "Reset noLuck timeout ",
        "links": [
            "1f902fb9af43884f",
            "f1f926ced4c1a8d4"
        ],
        "x": 745,
        "y": 1540,
        "wires": [
            [
                "a8a8c0eb026a2af0"
            ]
        ]
    },
    {
        "id": "0a35b29bb12ed687",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "ee605e83ef6b8684"
        ],
        "x": 1155,
        "y": 1540,
        "wires": []
    },
    {
        "id": "d2b09690674d219d",
        "type": "exec",
        "z": "5ab672823d632b5b",
        "command": "py C:\\Pscripts\\noLuckPnLGrab.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "noLuck",
        "x": 960,
        "y": 1480,
        "wires": [
            [
                "8b20167f839798c3",
                "02bc7dc83c50ec7f"
            ],
            [
                "02bc7dc83c50ec7f"
            ],
            []
        ]
    },
    {
        "id": "8b20167f839798c3",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "opened",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "opened",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1180,
        "y": 1480,
        "wires": [
            []
        ]
    },
    {
        "id": "74d3362485db5025",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "Done OUT",
        "mode": "link",
        "links": [
            "d462b9febab60de6"
        ],
        "x": 1295,
        "y": 1480,
        "wires": []
    },
    {
        "id": "02bc7dc83c50ec7f",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 1440,
        "wires": []
    },
    {
        "id": "337149465195f525",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "noLuckDone",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "no luck received",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 780,
        "wires": [
            [
                "ef357324e5c2c475"
            ]
        ]
    },
    {
        "id": "6e842d48f3d2ba2a",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 940,
        "wires": []
    },
    {
        "id": "cb8d15cb8b64fe85",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "Total",
        "func": "var entries = global.get('entries') || {};\n\nvar plTotal=0;\nif (!msg.payload.startsWith(\"All\")) {\n    plTotal = msg.payload.split(' ')[0];\n    entries.plTotal = parseFloat(plTotal);\n\n    msg.payload = entries.plTotal;\n    global.set('entries',entries);\n    return msg;\n}\nelse {\n    // entries.noLuck=\"excess\";\n    // msg.payload=\"opened\";\n    // global.set('entries', entries);\n    // return [null,msg];\n}\n\n// var msg1 = {};\n// var date = new Date().toUTCString();\n// msg1.payload = date + \": capital=\" + capital + \", tradesize=\" + tradeSize + \", take profit:\" + msg1.payload + \" - \" + trade;\n// return [msg, msg1];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 540,
        "wires": [
            [
                "99b80242b4165746",
                "b254af07bf770dc6"
            ]
        ]
    },
    {
        "id": "b254af07bf770dc6",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 64",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 500,
        "wires": []
    },
    {
        "id": "9fc944633a54a89e",
        "type": "function",
        "z": "5ab672823d632b5b",
        "name": "closeTrades fail safe",
        "func": "var entries = global.get('entries') || {};\n\nvar method=entries.method;\n\n// if (method==\"noLuck\" || method==\"tradePrep\"){\n//     if (msg.payload.startsWith(\"Reports\") || msg.payload ==\"\"){\n//         msg.payload=0;\n//     }\n//     else entries[msg.topic] = msg.payload;\n// }\n// else if (method==\"closeTrades\"){\n    // if (msg.payload == \"Total P&L\" || msg.payload == \"\") entries.closedTrades = \"fail\";\nif (msg.payload.startsWith(\"Reports\")) entries.closedTrades=\"ok\";\nelse entries.closedTrades = \"fail\";\n\n// }\nglobal.set('entries', entries)\n\nmsg.payload = msg.topic + \" Fail Safe: \" + msg.payload +\" closedTrades=\"+entries.closedTrades;\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1580,
        "y": 420,
        "wires": [
            [
                "83a1f7926b8178c9"
            ]
        ]
    },
    {
        "id": "83a1f7926b8178c9",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 65",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 420,
        "wires": []
    },
    {
        "id": "3aad54bca0f728d0",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 69",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1700,
        "y": 720,
        "wires": []
    },
    {
        "id": "2923963179af44a7",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "",
        "rules": [
            {
                "t": "delete",
                "p": "entries.closeTrades",
                "pt": "global"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1180,
        "y": 2180,
        "wires": [
            []
        ]
    },
    {
        "id": "decb1af1de3db9fa",
        "type": "inject",
        "z": "5ab672823d632b5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 900,
        "y": 2180,
        "wires": [
            [
                "2923963179af44a7"
            ]
        ]
    },
    {
        "id": "3bd3136850adda4a",
        "type": "inject",
        "z": "5ab672823d632b5b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 700,
        "y": 2180,
        "wires": [
            [
                "67f5cf5860cb9d78"
            ]
        ]
    },
    {
        "id": "67f5cf5860cb9d78",
        "type": "exec",
        "z": "5ab672823d632b5b",
        "command": "py C:\\Pscripts\\keepClosingExcessTrades.py",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "Excess",
        "x": 880,
        "y": 2120,
        "wires": [
            [
                "2a0b5bcfab0dfc1e"
            ],
            [
                "2a0b5bcfab0dfc1e"
            ],
            [
                "2a0b5bcfab0dfc1e"
            ]
        ]
    },
    {
        "id": "b4c9069572da1ef7",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 70",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 840,
        "wires": []
    },
    {
        "id": "ad9efae8b3c50215",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1260,
        "wires": []
    },
    {
        "id": "b1b673d161e4868b",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 830,
        "y": 1960,
        "wires": []
    },
    {
        "id": "b8d4f367d353f288",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 72",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1540,
        "y": 380,
        "wires": []
    },
    {
        "id": "6e5473da1f801293",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "debug 73",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 1600,
        "wires": []
    },
    {
        "id": "e2cdcd02011de9bc",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 2060,
        "wires": []
    },
    {
        "id": "9e7229dcfc59d96d",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "closeTrades excess",
        "mode": "link",
        "links": [
            "db74e069f8143fec"
        ],
        "x": 725,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2a0b5bcfab0dfc1e",
        "type": "debug",
        "z": "5ab672823d632b5b",
        "name": "tradeReady",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 2140,
        "wires": []
    },
    {
        "id": "79e5038c67f462e7",
        "type": "delay",
        "z": "5ab672823d632b5b",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 700,
        "y": 2120,
        "wires": [
            [
                "67f5cf5860cb9d78"
            ]
        ]
    },
    {
        "id": "e103615be0c9a7b2",
        "type": "config",
        "z": "5ab672823d632b5b",
        "name": "",
        "properties": [
            {
                "p": "entries",
                "pt": "global",
                "to": "{}",
                "tot": "json"
            }
        ],
        "active": false,
        "x": 410,
        "y": 1500,
        "wires": []
    },
    {
        "id": "19d19bea41e64651",
        "type": "link in",
        "z": "5ab672823d632b5b",
        "name": "trades excess IN",
        "links": [
            "f1f926ced4c1a8d4",
            "8e4465eeeb26a11d"
        ],
        "x": 575,
        "y": 2120,
        "wires": [
            []
        ]
    },
    {
        "id": "d25a94e1be6c3423",
        "type": "trigger",
        "z": "5ab672823d632b5b",
        "name": "",
        "op1": "",
        "op2": "",
        "op1type": "pay",
        "op2type": "nul",
        "duration": "1",
        "extend": true,
        "overrideDelay": false,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 1360,
        "y": 340,
        "wires": [
            [
                "9fc944633a54a89e",
                "b8d4f367d353f288"
            ]
        ]
    },
    {
        "id": "c2c1c1895b1289ae",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Stop Loss Fail Safe",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 8,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "stopLoss",
        "x": 1170,
        "y": 420,
        "wires": [
            [
                "93baa0abfee23965"
            ]
        ]
    },
    {
        "id": "c1f6822f355735c5",
        "type": "ui_text_input",
        "z": "5ab672823d632b5b",
        "name": "",
        "label": "Take Profit Fail Safe",
        "tooltip": "",
        "group": "a5e5760a4c6ba88d",
        "order": 6,
        "width": 4,
        "height": 1,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "takeProfit",
        "x": 1160,
        "y": 380,
        "wires": [
            [
                "93baa0abfee23965"
            ]
        ]
    },
    {
        "id": "e73ade4ef838fd3c",
        "type": "ui_text",
        "z": "5ab672823d632b5b",
        "group": "a5e5760a4c6ba88d",
        "order": 5,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Take Profit",
        "format": "{{msg.payload.params.takeProfit}}",
        "layout": "col-center",
        "x": 1190,
        "y": 200,
        "wires": []
    },
    {
        "id": "05c6f41fe8152342",
        "type": "ui_text",
        "z": "5ab672823d632b5b",
        "group": "a5e5760a4c6ba88d",
        "order": 7,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Stop Loss",
        "format": "{{msg.payload.params.stopLoss}}",
        "layout": "col-center",
        "x": 1180,
        "y": 160,
        "wires": []
    },
    {
        "id": "4716178f748d5497",
        "type": "switch",
        "z": "5ab672823d632b5b",
        "name": "open Trades?",
        "property": "payload.params.openTrades",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 360,
        "y": 1380,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "8e4465eeeb26a11d",
        "type": "link out",
        "z": "5ab672823d632b5b",
        "name": "no luck no opentrades",
        "mode": "link",
        "links": [
            "19d19bea41e64651"
        ],
        "x": 465,
        "y": 1420,
        "wires": []
    },
    {
        "id": "fdf4b82408700886",
        "type": "change",
        "z": "5ab672823d632b5b",
        "name": "no Luck ckeck",
        "rules": [
            {
                "t": "set",
                "p": "entries.noLuck",
                "pt": "global",
                "to": "check",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 1420,
        "wires": [
            [
                "8e4465eeeb26a11d"
            ]
        ]
    }
]